<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>CrewScheduler</title>
	<link th:href="@{/styles/style.css}" rel="stylesheet" >
</head>
<body>
<div class="nav-bar">
	<a class="active" th:href="@{/home}">Home</a>
	<a th:href="@{/flights}">Flights</a>
	<a th:href="@{/pilots}">Pilots</a>
	<a th:href="@{/airplanes}">Airplanes</a>
	<a th:href="@{/attendants}">Flight attendants</a>
</div>
<div class="title">
	<p>CrewScheduler</p>
</div>
</body>
</html>